baseURL: 'https://www.thomas-huehn.de/'
author: Thomas Hühn
languageCode: 'de'
title: 'Entdeckungsreisen'
theme: 'hugo-theme-th'

titleCaseStyle: none

assetDir: 'assets'
dataDir: 'data'

disableHugoGeneratorInject: true
disableKinds:
    - "section"
    - "robotsTXT"
    - "404"
    
permalinks:
  post: '/:contentbasename/'
  page: '/:contentbasename/'

outputFormats:
    RSS:
        mediatype: "application/rss"
        baseName: "feed"

taxonomies:
    tag: tags
    category: categories

outputs:
    home: ["HTML", "RSS"]
    page: ["HTML"]
    section: ["HTML"]
    taxonomy: ["HTML"]
    term: ["HTML"]

markup:
    goldmark:
        renderer:
            unsafe: true
        parser:
            wrapStandAloneImageWithinParagraph: false
    highlight:
        style: bw
        noClasses: false

params:
    description: "Persönliche Webseite von Thomas Hühn"
    links:
        - title: "Home"
          url: "/"
        - title: "englischsprachiger Blog"
          url: "//thomas-huehn.com"

ignoreFiles:
    - \.jpg$
    - \.png$
    - \.svg$
