{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $path := add "content/" (add .Page.File.Dir (.Destination | safeURL)) -}}
{{- with (imageConfig $path) -}}
    {{- $width = .Width -}}
    {{- $height = .Height -}}
{{- end -}}
</p>
<figure>
<img
    src="{{ .Destination | safeURL }}"
    alt="{{ .Text }}"
    loading="lazy"
    {{ if ne $width 0 }}width="{{ $width }}"{{ end }}
    {{ if ne $height 0 }}height="{{ $height }}"{{ end }}
    {{ with .Title}}title="{{ . }}"{{ end }}
/>
{{- if .Title -}}<figcaption>{{.Title}}</figcaption>{{- end -}}
</figure>
<p>