{{ define "main" }}
  <article>
    <header id="articleheader">
      <h1 id="articletitle">
        {{- .Title -}}
      </h1>
      <div class="articlemeta">
        <div class="dates">
        {{- if .Date -}}
          <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }} class="created">
            {{- .Date.Format "2." }} {{ index .Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Format "2006" -}}
          </time>
        {{- end -}}
        {{- if ne .Params.lastmod .Date -}}
          <p>, Update:&nbsp;
              <time {{ .Params.lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTMLAttr }} class="lastmod">
                {{- .Params.lastmod.Format "2." }} {{ index .Site.Data.monate (printf "%d" .Params.lastmod.Month) }} {{ .Params.lastmod.Format "2006" -}}
              </time>
          </p>
        {{- end -}}
        </div>
        {{- if .Params.tags -}}
        <div class="tags-inline">
          {{- range .Params.tags -}}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag">{{ . }}</a>
          {{- end -}}
        </div>
        {{- end -}}
    </div>
    </header>
      {{- .Content -}}
  </article>
{{ end }}

{{ define "comment" }}
<p>Kommentare gibt es hier nicht. Aber schreiben Sie mir doch eine Mail an <a href="mailto:t@2uo.de" class="noprint">t@2uo.de</a>!</p>
{{ end }}