{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <ul class="articlelist">
    {{ range  .Pages }}
    <li>
        <div class="article-header">
            <div class="article-title">
                <a href="{{ .Permalink }}"{{- if .Params.favorite }} class="favitem" {{- end -}}>{{ .Title }}</a>
            </div>
            <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02") | safeHTMLAttr }}>
                {{- if eq .Site.LanguageCode "de" -}}
                {{ .Date.Format "2." }} {{ index .Site.Data.monate (printf "%d" .Date.Month) }}
                {{else}}
                {{ .Date.Format "January 2" }}
                {{- end -}}
            </time>
        </div>
    </li>
    {{ end }}
    </ul>
{{ end }}
