{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <ul class="articlelist">
    {{ range  .Pages }}
    <li>
        <div class="article-header">
            <div class="article-title">
                <a href="{{ .Permalink }}"{{- if .Params.favorite }} class="favitem" {{- end -}}>{{ .Title }}</a>
            </div>
            <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02") | safeHTMLAttr }}>
                {{ .Date.Format "2." }} {{ index .Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Format "2006" }}
            </time>
        </div>
        {{ if .Params.description }}
        <div class="article-description">
            {{ .Params.description }}
        </div>
        {{ end }}
        <ul class="tags">
          {{ range $i, $e := .Params.tags }}
            <li class="tag">
             <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="noprint">
               {{ $e }}
             </a>
           </li>
          {{ end }}
        </ul>
    </li>
    {{ end }}
    </ul>
{{ end }}
