html {
  box-sizing: border-box;
  max-width: 95vw;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article {
    hyphens: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: large;
  line-height: 1.5;
  max-width: 80ch;
  margin: 0 auto;
  padding-left: 2ch;
  padding-right: 2ch;
}

@media (prefers-color-scheme: dark) {
		body {color: #fff;background: #000;}
		a:link {color: #cdf;}
		a:hover, a:visited:hover {color: #def;}
		a:visited {color: #dcf;}
	}

code {
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

kbd, samp, pre {
	font-family: font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	margin: 3rem auto;
	width: 80%;
	padding: 0rem 1rem 1rem 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: #e2e8f0; /* taken from Tailwind CSS: https://tailwindcss.com */
	border-radius: .5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* taken from Tailwind CSS: https://tailwindcss.com */
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	margin: 1.5rem auto;
	width: 80%;
	text-align: left;
	display: table;
    table-layout: fixed;
	padding: 1rem;
}

tbody > :nth-child(odd) {
	background-color: #e2e5e9;
}

b, strong {
	font-weight: bold;
}

dd {
	margin-left: 5rem;
}

img {
	max-width: 100%;
    height: auto;
}

figure {
	text-align: center;
	display: table;
    table-layout: fixed;
	margin: 3rem auto;
	width: auto;
	padding: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: #e2e8f0; /* taken from Tailwind CSS: https://tailwindcss.com */
	border-radius: .5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* taken from Tailwind CSS: https://tailwindcss.com */
}

figcaption {
	text-align: left;
}

blockquote {
	padding: 0 1rem;
	margin: 3rem auto;
	width: 80%;
	border-left: 4px solid darkslategray;
}

blockquote > p {
	margin-top: 0;
}

header {
	text-align: center;
}

footer {
	text-align: center;
    border-top: 1px solid lightgray;
    font-size: small;
    margin-top: 2rem;
    clear: both;
}

.articlemeta {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: medium;
    margin-bottom: 0.5rem;
}

.tags {
    display: flex;
    flex: 1 1 40%;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
}

.tag {
    display: inline;
    list-style-type: none;
    font-size: medium;
}

.dates {
    text-align: left;
    flex: 1 1 50%;
}

.dates p, .dates time {
    display: inline;
    margin: 0;
}

aside {
	padding: 1rem;
	margin: 3rem auto;
	width: 80%;
	border-style: solid;
	border-width: 2px;
	border-color: #e2e8f0; /* taken from Tailwind CSS: https://tailwindcss.com */
	border-radius: .5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* taken from Tailwind CSS: https://tailwindcss.com */
}

ul {
	list-style-type: disc;
}

#siteheader {
    border-bottom: 1px solid lightgray;
}

#siteheader ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0;
}

#siteheader li {
    flex: 1;
    list-style: none;
    font-size: small;
    white-space: nowrap;
}

#siteheader a {
    padding: 10px 0;
}

#articleheader {
    border-bottom: 1px solid lightgray;
}

.year {
    clear: both;
    padding-top: 3rem;
}

.articlelist {
    padding: 0;
}

.articlelist > li {
    list-style-type: none;
    align-content: space-between;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.articlelist > li > a {
    flex: 3;
}

.indexmeta {
    display: flex;
    justify-content: space-between;
}

.indexmeta > time {
    flex: 1;
    font-size: medium;
}

a.favitem:before {
	content: "★";
    text-align: center;
    color: black;
    display: inline-block;
	width: 1.5rem;
    margin-left: -1.5rem;
}

@media print {
	a:after {
		content: " [🔗"attr(href)"]";
	}
    
    a.noprint:after {
		content: "";
	}
}
