{{ define "main" }}
  {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "post").GroupByDate "2006" }}
    <h1 class="year">{{ .Key }}</h1>
    <ul class="articlelist">
        {{ range .Pages }}
        <li>
            <div class="article-header">
                <div class="article-title">
                    <a href="{{ .Permalink }}"{{- if .Params.favorite }} class="favitem" {{- end -}}>{{ .Title }}</a>
                </div>
                <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02") | safeHTMLAttr }}>
                    {{ .Date.Format "2." }} {{ index .Site.Data.monate (printf "%d" .Date.Month) }}
                </time>
            </div>
            {{ if .Params.description }}
            <div class="article-description">
                {{ .Params.description }}
            </div>
            {{ end }}
            {{ if .Params.tags }}
            <div class="tags-small">
              {{ range .Params.tags }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag-small">{{ . }}</a>
              {{ end }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
