{{ define "main" }}
  {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "post").GroupByDate "2006" }}
    <h1 class="year">{{ .Key }}</h1>
    <ul class="articlelist">
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}"{{- if .Params.favorite }} class="favitem" {{- end -}}>{{ .Title }}</a>
            <div class ="indexmeta">
                <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02") | safeHTMLAttr }}>
                    {{- if eq .Site.LanguageCode "de" -}}
                    {{ .Date.Format "02." }} {{ index .Site.Data.monate (printf "%d" .Date.Month) }}
                    {{else}}
                    {{ .Date.Format "January 2" }}
                    {{- end -}}
                </time>
                <ul class="tags">
                  {{ range $i, $e := .Params.tags }}
                    {{- if $i -}}{{- end -}}
                    <li class="tag">
                     <a href="{{- "/tags/" | relLangURL -}}{{- . | urlize -}}" class="noprint">
                       {{- $e -}}
                     </a>
                   </li>
                  {{ end }}
                </ul>
            </div>
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
